<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about-blog content">
      <h2>Blogs</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
        dolorum accusamus? Aliquid debitis tempore nisi voluptates non, error,
        totam alias quia, quod fugiat omnis facilis reprehenderit! Consectetur
        aspernatur expedita at?
      </p>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
